<!--/*
   @author - Shailesh Agrahari

   Enhancement will be done to pass the root path, currenty it is pulling from /content/dam/we-retail
   
   TO make this work, need to create a system user with the name of "shailesh"
   And bundle name is - shailesh-agrahari-utilities.utilities.utility.core
   
*/-->

<h4>Adobe Experience Manager DAM Download Example</h4>
             
<a href="http://localhost:6502/content/utilities/internal/download-assets.assets.html" style="font-size: 30px; text-decoration: none">Download AEM CAR DAM Assets</a>

